---
import Navbar from '$components/Navbar.astro';
import 'uimini/dist/css/uimini.css';
import Footer from '$components/Footer.astro';

const response = await fetch("https://dev.to/api/articles?username=merichard123")
const data = await response.json();

export async function getStaticPaths({rss}) {
  const allPosts = data
  const sortedPosts = allPosts.sort((a, b) => new Date(b.published_at) - new Date(a.published_at));
  rss({
    // The RSS Feed title, description, and custom metadata.
    title: 'RichardMe123 Blog',
    description: 'Blog Posts from Dev.to',
    customData: `<language>en-us</language>`,
    items: sortedPosts.map(item => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.readable_publish_date,
    })),
    
  });
  // Return your paths
  return ['/']
}


---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/style/global.css"/>
   <link rel="stylesheet" href="/style/home.css"/>
   <style>
    h1{
      margin-top: 20px;
    }
   </style>
 </head>
  <header>
    <Navbar />
  </header>
 <body class="content-wrapper">
    <div class="container blogs">
      <h1 class="ui-title-1">View My Blog Posts</h1>
      <div class="blog-container">
        <!-- Add blogs here dynamically -->
        {!data.length && <h2 class="post-loader">Loading Posts....</h2>}
        {data.map(post => (
            <a href={post.url}>
              <div class="blog">
                <h2 class="blog__title">{post.title}</h2>
                <h4 class="blog__date">{post.readable_publish_date}</h4>
                <p class="blog__desc">{post.description}</p>
                <div class="ui-tag__wrapper tags">
                    {post.tag_list.slice(0,2).map(tag => (
                        <div class="ui-tag">
                            <span class="tag-title">{tag}</span>
                        </div>
                    ))}
                </div>
              </div>
            </a>
        ))}
      </div>
    </div>
    <Footer/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  </body>
</html>
